@media screen and (min-device-width:600px) and (max-device-width:1200px) 
{
    html
    {
        font-size: 70%;
    }
    #img1
    {
        width: 35rem;
        align-items: center;
        height: 45rem;
        z-index: 100;
    }   
    .container1
    {
        margin: 1vh;
    }
    section
{
    position: relative;

    box-sizing: border-box;
    height: 50vh;
    box-sizing: border-box;
    background: linear-gradient(180deg,#008aff,#ff137d) ,url("./img/istockphoto-517188688-612x612.jpg") ;
    background-blend-mode: screen;
    background-repeat: no-repeat;
    background-size: cover;
}
}